<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.MbtiMapper">
	<select id="selectMbtiList" resultType="MbtiVO">
		SELECT 
			MT_SORT
			, MT_TYPE
			, MT_TITLE
			, MT_CONTENT
		  FROM TB_MBTIDESC
	</select>
	<select id="selectMbti" resultType="MbtiVO">
		SELECT
			MT_SORT
			, MT_TYPE
			, MT_TITLE
			, MT_CONTENT
		  FROM TB_MBTIDESC
		 WHERE MT_TYPE = #{mtType}
	</select>
	<insert id="insertMbti">
	
	</insert>
	<update id="updateMbti"></update>
	<delete id="deleteMbti"></delete>
</mapper>